<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= cols %>x<%= rows %>-<%= name %> Grid Test</title>
</head>
<body>
<div id="root"><%- include('grid') %></div>
</body>
</html>
